.container{
    max-width: 500px;
    margin: 100px auto;
    border: 3px solid #c0f3a3e7;

}
.disp{
    color: black;
    text-align: right;
    height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    border-bottom: 3px solid #c0f3a3e7;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.buttons>div{
    border: 2px solid #c0f3a3e7;
}
.button{
    line-height: 80px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}
.equal{
    background: #6258eb;
    color: #fff;
}
.button:hover{
    background: #c0f3a3e7;
    color: #6258eb;
    transition: 0.5s ease-in-out;
}